.name {
    color: #FF0000;
    width: 325px;
    height: 24px;
    margin: 0%;
}
.make {
    width: 120px;
    color: #5F5F5F;
    margin-left: 91px;
    margin-bottom: 0px;
    
}
.gag {
    width: 186px;
    height: 109px;
    margin-left: 80px;
    margin-top: 0%;
}
.et {
    width: 335px;
    height: 38px;
    margin: 0;
    color: #5B5B5B;
}